h1{
    color: white;
}

ul{
    color: blueviolet;
}

p{
    color: white;
}
/*
div{
width: 100%;
height: 10px;

background-color: rgb(117, 157, 37);
}
*/

body{
    background-color: cornflowerblue;
}
html{
    background-color: cornflowerblue;
}
h2{
    color: white;
}
h3{
    color: white;
}
html{
    border: white double 20px;
}